.root {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 500px;
    
    
}

.root button {
    color: black;
    display: flex;
    background-color: transparent;
    padding: 16px 50px;
    font-size: 1.25rem;

}